@CHARSET "ISO-8859-1";

.attachmentIcon{
	position:static;
	right:-1px;
	font-weight: normal;
	vertical-align: middle;
	width : 16px;
	height : 16px;
}

.unselectedFolder {
	background:#ffffff;
	padding:5px;
}
	
.selectedFolder {
	background:#CCD6EB;
	padding:5px;
	border-radius: 1em;
}

/* change buttons to be flat */
.claro .dijitButton .dijitButtonNode,.claro .dijitDropDownButton .dijitButtonNode,.claro .dijitComboButton .dijitButtonNode,.claro .dijitToggleButton .dijitButtonNode {
	background: #CCD6EB;
	box-shadow: none;
	border: none;
}

.claro .dijitDialogTitleBar {
	background-color: #CCD6EB;
}

.dojoxGridHeader div {
	font-style: bold !important;
	background:#CCD6EB;
}
		
.claro .dojoxGridPaginator {
	background:#CCD6EB;
}

.dojoxGridHeader div {
	font-style: bold !important;
	background:#CCD6EB;
}

.searchBox {
	background: #CCD6EB;
	border-radius: 15px;
}