@CHARSET "ISO-8859-1";

.mailIcon{
	width:15px !important;
    height:15px !important;
	position:static;
	vertical-align: middle;
	margin-right:2px;
}

.attachmentIcon{
	position:static;
	right:-1px;
	font-weight: normal;
	vertical-align: middle;
	width : 16px;
	height : 16px;
}

.unselectedFolder {
	background:#ffffff;
	padding:5px;
}
	
.selectedFolder {
	background:#CCD6EB;
	padding:5px;
	border-radius: 1em;
}

/* change buttons to be flat */
.claro .dijitButton .dijitButtonNode,.claro .dijitDropDownButton .dijitButtonNode,.claro .dijitComboButton .dijitButtonNode,.claro .dijitToggleButton .dijitButtonNode {
	background: #CCD6EB;
	box-shadow: none;
	border: none;
}

.claro .dijitDialogTitleBar {
	background-color: #CCD6EB;
}